[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
Django = "==2.1"
django-widget-tweaks = "==1.4.2"

[requires]
python_version = "3.6"
